<div class="card card-primary">
  <div class="form-group">
    <div class="card-header">
      <h3 class="card-title">Tourist Places</h3>
    </div>
    <!-- /.card-header -->
  </div>

  <!-- form start -->
  <form
    enctype="multipart/form-data"
    #form="ngForm"
    autocomplete="off"
    (submit)="onTouristPlaceSubmit(Title, PhotoFile, Description, Image)"
  >
    <div class="card-body">
      <div class="form-group">
        <input type="hidden" name="Id" [value]="service.formData.Id" />
        <!--hidden photo needed to leave the photo name as it is when update form except new uploading -->
        <input
          type="hidden"
          name="Image"
          #Image="ngModel"
          [(ngModel)]="service.formData.Image"
        />
        <label for="exampleInputEmail1">Title</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i
                class="fa fa-info-circle"
                [class.green-icon]="Title.valid"
                [class.red-icon]="Title.invalid && Title.touched"
              ></i>
            </div>
          </div>
          <input
            name="Title"
            #Title="ngModel"
            [(ngModel)]="service.formData.Title"
            class="form-control"
            placeholder="Title"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Image</label>
        <div class="input-group">
          <img
            [src]="
              service.formData.Image != ''
                ? imageUrl + service.formData.Image
                : defaultImageUrl
            "
            style="width: 225px; height: 225px"
          />

          <!--<input type="file" (change)="handleFileInput($event.target.files)" name="Photo" #Photo="ngModel" [(ngModel)]="service.formData.Photo" #Photo accept="image/*" />-->
          <input
            type="file"
            (change)="handleFileInput($event.target.files)"
            name="PhotoFile"
            #PhotoFile="ngModel"
            [(ngModel)]="service.formData.PhotoFile"
            #PhotoFile
            accept="image/*"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i
                class="fa fa-info-circle"
                [class.green-icon]="Description.valid"
                [class.red-icon]="Description.invalid && Description.touched"
              ></i>
            </div>
          </div>
          <input
            name="Description"
            #Description="ngModel"
            [(ngModel)]="service.formData.Description"
            class="form-control"
            placeholder="Description"
          />
        </div>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <div class="form-group">
        <!--<button class="btn btn-success" type="submit" [disabled]="form.invalid || PhotoFile.value==''"><i class="fa fa-database"></i> Submit</button>-->

        <button
          *ngIf="service.formData.Image == ''; else otherContent"
          class="btn btn-success"
          type="submit"
          [disabled]="form.invalid || PhotoFile.value == ''"
        >
          <i class="fa fa-database"></i> Submit
        </button>
        <ng-template #otherContent>
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="form.invalid"
          >
            <i class="fa fa-database"></i> Submit
          </button>
        </ng-template>

        <button
          [mat-dialog-close]
          class="btn btn-outline-dark ml-1"
          type="button"
        >
          <i class="fa fa-close"></i> Close
        </button>
      </div>
    </div>
    <!-- /.card-footer -->
  </form>
</div>
